body {
    position: relative;
}

.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 5px solid #333;
}

.square {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 80px;
    position: relative;
}

.black {
    background-color: #999;
}

.white {
    background-color: #fff;
}

.figure {
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.3;
}

.green_overlay {
    background-color: green;
}

.red_overlay {
    background-color: red;
}

.yellow_overlay {
    background-color: yellow;
}
