.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 5px solid #333;
}

.square {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.black {
    background-color: #999;
}

.white {
    background-color: #fff;
}

.figure {
    height: 100%;
    width: 100%;
}
